/* 000814 */
/* 001d3d */
/* 003566 */
/* ffc300 */
/* ffd60a */


body{
    text-align: center;
    background-color: #000814;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.layout-main{
    flex-grow: 1;
  }
  
.layout-footer{
    background: 000814;
}

html{
    height: 100%;
}

header{
    padding-top:10%;
}

header p{
    color: #e0e1dd;
}

mark.yellow{
    color:#ffc300;
    background: none;
    font-weight: bold;
}

header img{
    max-width: 100px;
    text-align: center;
    border-radius: 150px;    
    border: 5px solid #003566;
}

ul{
    color: #e0e1dd;
    width: 25%;
    margin: 0 auto;    
}

li{
    text-align: left;
    font-style: italic;
}

p{
    background-color: #000814;
    color: #e0e1dd;
}

p span{
    display: block;
}

a{
    box-shadow: inset 0 0 0 0 #ffc300;
    color: #e0e1dd;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

li a:hover{
    box-shadow: inset 400px 0 0 0 #ffc300;
    color: #000814;
}

footer{
    color: #e0e1dd ;
    text-align: center;
    background-color: #000814;
}

mark.bold{
    color: #e0e1dd;
    background: none;
    font-weight: bold;
}